body,
h1,
h2,
ul,
li {
    margin: 0;
    padding: 0;
}

/* General styles */
.container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.sidebar {
    flex: 0 0 250px; 
    overflow-y: auto; 
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.my-links {
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 100%;
    text-align: center;
}

.my-links a {
    display: inline-block;
    margin: 0 5px;
}

.my-links img {
    width: 40px; /* Adjust as needed */
    height: auto;
}

.profile {
    text-align: center;
}

.profile img {
    max-width: 90%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.profile h1 {
    margin-top: 10px;
}

.tabs {
    text-align: center;
    margin-top: 20px;
}

.tabs ul {
    list-style: none;
    padding: 0;
}

.tabs li {
    margin-bottom: 10px;
}

/* Update anchor styles */
.tabs a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    display: inline-block;
    font-size: 18px;
}

/* Hover styles */
.tabs a:hover {
    color: #00ff00;
    text-decoration: underline;
}

.content {
    flex: 2;
    background-color: #222;
    padding: 20px;
    overflow-y: hidden; /* Prevent content from being scrollable */
}

/* Style for the name */
.name {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-top: 10px;
    text-align: center;
    color: #4caf50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Existing CSS */

/* Media queries for responsive design */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar,
    .content {
        flex: 1 1 100%;
        min-width: auto;
    }

    .my-links {
        position: relative; /* Change from absolute to relative positioning */
        bottom: auto;
        width: 100%;
        text-align: center;
        margin-top: 20px; /* Adjust margin-top for spacing */
    }

    .my-links a {
        margin: 0 5px;
    }

    .my-links img {
        width: 40px; /* Adjust as needed */
        height: auto;
    }
}

@media only screen and (min-width: 769px) {
    /* Existing styles for larger screens */
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 25vw;
        height: 100vh;
        overflow-y: auto;
        background-color: #333;
        color: #fff;
        padding: 20px;
        z-index: 1;
    }

    .content {
        margin-left: 15vw;
        overflow-y: auto;
    }
}

